<IfModule mod_security.c>
    SecRuleEngine Off
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force HTTPS Redirect
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
